$primaryBtn : rgb(90, 10, 71);
$textColor : black ;

header{
    background: lightblue ;
    display: flex;
    justify-content: center;
    color : $textColor ;
}

header button{
    background: $primaryBtn;
}

.contact button {
    background: $primaryBtn;
}